<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spygame5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpyGame5">
        <activity
            android:name=".LocalCardActivity"
            android:exported="false" />
        <activity android:name=".tapActivtiy" />
        <activity android:name=".spyCardActivity" />
        <activity android:name=".FinalCardSpyName">

        </activity>
        <activity android:name=".timerActivity" />
        <activity
            android:name=".HomeActivity"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>